:root {
    --theme-type: gradient;
    --theme-color: #283267;
    --main-border-color: #000000;
    --gradient-degree: 87deg;
    --gradient-second-percentage: 100%;
    --gradient-first-percentage: 0%;
    --gradient-second-color: #382867;
    --gradient-first-color: #283267;
    --main-bg-color: var(--theme-color);
    --button-bg-color: var(--theme-color);
    --text-main: #1f1f1f;
    --second-bg-color: #0b1c2d;
    --third-bg-color: #0b1c2d;
    --font-family: 'Roboto', 'sans-serif';
    --moz-linear-gradient: -moz-linear-gradient(var(--gradient-degree), var(--gradient-first-color) var(--gradient-first-percentage), var(--gradient-second-color) var(--gradient-second-percentage));
    --webkit-gradient: -webkit-gradient(linear, left bottom, right top, color-stop(var(--gradient-first-percentage), var(--gradient-first-color)), color-stop(var(--gradient-second-percentage), var(--gradient-second-color)));
    --webkit-linear-gradient: -webkit-linear-gradient(var(--gradient-degree), var(--gradient-first-color) var(--gradient-first-percentage), var(--gradient-second-color) var(--gradient-second-percentage));
    --o-linear-gradient: -o-linear-gradient(var(--gradient-degree), var(--gradient-first-color) var(--gradient-first-percentage), var(--gradient-second-color) var(--gradient-second-percentage));
    --ms-linear-gradient: -ms-linear-gradient(var(--gradient-degree), var(--gradient-first-color) var(--gradient-first-percentage), var(--gradient-second-color) var(--gradient-second-percentage));
    --linear-gradient: linear-gradient(var(--gradient-degree), var(--gradient-first-color) var(--gradient-first-percentage), var(--gradient-second-color) var(--gradient-second-percentage));
    --filter: progid: DXImageTransform.Microsoft.gradient( startColorstr=var(--gradient-first-color), endColorstr=var(--gradient-second-color), GradientType=1);
}